<!doctype html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>exmvc</title>

    <style type="text/css">
        .ng-cloak { display: none }
    </style>
</head>

<body class="ng-cloak" ng-app="app" ng-controller="OrderCtrl as vm">

    <div ng-repeat="error in vm.errors" style="background-color: red">
        {{ error }}<br />
    </div>

    <label for="orderNumber">Uus tellimus</label>
    <input id="orderNumber" ng-model="vm.newOrder.orderNumber"><br>

    <button ng-click="vm.insertNew()">Lisa uus</button>

    <br><br><br>

    <div ng-repeat="order in vm.orders">
        {{ order.orderNumber }} <a href ng-click="vm.deleteOrder(order.id)">X</a>
    </div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/http.srv.js"></script>
<script src="app/message.srv.js"></script>
<script src="app/order.ctrl.js"></script>

</html>
